<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
 
</div>
<h2>Here are some links to help you start: </h2>
<button (click)="funcion_Mostrar()" name="btn_lista">{{mostrarListaColores ? 'Ocultar lista' : 'Mostrar lista'}}</button>
<div #divlista *ngIf="mostrarListaColores" class="lista_colores">
  <ul>
    <li *ngFor="let color of colores">{{color}}</li>   
  
    <form (submit)="funcionAgregar(color)">
        <input #color type="text" name="inputColor" placeholder="ingrese color nuevo">
    </form>
    
  </ul>
</div>

